<!DOCTYPE html>
<html>
<head>
    <title>Q-Buddy Registration</title>
    <link rel="stylesheet" href="static/css/register.css">
</head>
<body>
    <main>
        <div class="q-buddy-logo">
            <img src="static/images/background.jpeg">
            <form action="/register" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="id_no">ID Number:</label>
                <input type="text" id="id_no" name="id_no" required>

                <button type="submit">Register</button>
            </form>
        </div>
    </main>
</body>
</html>
