<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Q-Buddy - Dashboard</title>
</head>
<body>
   <div class="container-1">
    <div class="index-container">
        <aside>
            <a class="index-toggle" href="index.html">
                <div class="logo">
                    <h2>Q-<span class="danger">BUDDY</span></h2>
                </div>
            </a>
        </aside>
    </div>
   <main>
    <div class="dash-container">
        <h2>Choose a service</h2>
    </div>

    <div class="service-content">
        <section>
            <div class="row">
                <div class="col-md-3">
                    <div class="board board-body bg-primary text-white mb-3">
                        <div class="service-details">
                            <div>
                                <div class="status">
                                    <div class="consultation">
                                        <a class="buttonish" href="tickets.html">
                                            <span class="material-symbols-outlined">
                                                clinical_notes
                                                </span>
                                            <h3>Consultation</h3>
                                        </a>
                                    </div>                                  
                                </div>
                            </div>
                            <div>
                                <div class="status">
                                    <div class="dental">
                                        <a class="buttonish" href="tickets.html">
                                            <span class="material-symbols-outlined">
                                                lda
                                                </span>
                                            <h3>Dental</h3>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="status">
                                    <div class="emergency">
                                        <a class="buttonish" href="tickets.html">
                                            <span class="material-symbols-outlined">
                                                pulse_alert
                                                </span>
                                            <h3>Emergency</h3>
                                        </a>
                                        </div>
                                </div>
                            </div>
                            <div>
                                <div class="status">
                                    <div class="review-2">
                                        <a class="buttonish" href="tickets.html">
                                            <span class="material-symbols-outlined">
                                                stethoscope_check
                                                </span>
                                            <h3>Second Review</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="status">
                                    <div class="drugs">
                                        <a class="buttonish" href="tickets.html">
                                            <span class="material-symbols-outlined">
                                                vaccines
                                                </span>
                                            <h3>Drugs Pickup</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

   </main>
   </div>
</body>
</html>